/* header and navigation */

.panel {
  box-shadow: 0 3px 6px #00000029;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text--logo,
.footer__link--logo {
  text-align: left;
  font: normal normal 300 2em/2.1em $font-raleway;
  letter-spacing: 0;
  color: $color-primary;
  padding-left: 40px;
}

.list {
  display: flex;
  text-align: center;
  justify-content: space-around;


}


.list__element,
.list__link {
  color: $color-gray;
  letter-spacing: 3.28px;
  font: normal normal bold 1em/1.5em $font-open-sans;
  padding: 30px 30px 30px 20px;
  border-bottom: 4px solid transparent;


}

.list__link:hover {
  color: black;
  border-color: $color-primary;
}

.menu-burger {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  flex-direction: column;
  border: 0;
  cursor: pointer; //łapka
  display: none;

  span {
    width: 25px;
    height: 4px;
    background: $color-gray;
    margin: 1px;
  }
}


@include mobile {

  .panel {
    flex-direction: column;
  }
  .navigation {
    position: absolute;
    left: 0;
    top: -300;
    height: 100%;
    width: 250px;
    transform: translate(-90%);
    transition: 1s transform;
  }
  .navigation.is-show {
    transform: translate(0);
  }

  .list {
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: white;
    border-bottom: $color-primary-shadow;
    color: $color-gray;
    text-align: left;
  }

  .list__link:hover {
    color: black;
    border: none;
  }
  .panel {
    flex-direction: row;
    position: relative;

  }
  .menu-burger {
    display: flex;
  }
  .list__element {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #000000;
  }

}
